<!-- begin list_template_header_code_block.tmpl --> 

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/foundation/app.css?v=<!-- tmpl_var VER escape=URL -->">

<!-- tmpl_if include_jquery_lib --> 
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery-3.6.0.min.js"></script>
<!-- /tmpl_if --> 

<!-- tmpl_if include_app_user_js -->
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/jquery.validate.js?v=<!-- tmpl_var VER escape=URL -->"></script>
    <!-- tmpl_if load_colorbox --> 
    	<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/colorbox/colorbox.css?v=<!-- tmpl_var VER escape=URL -->">
    	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/colorbox/jquery.colorbox-min.js?v=<!-- tmpl_var VER escape=URL -->"></script>
    <!-- /tmpl_if -->

    <!-- tmpl_if load_lity --> 
	    <link href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/lity/lity.min.css" rel="stylesheet">
	    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/lity/lity.min.js"></script>
	<!-- /tmpl_if -->
	
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/dada_mail.user.js?v=<!-- tmpl_var VER escape=URL -->"></script>
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.dadamail.js?v=<!-- tmpl_var VER escape=URL -->"></script>
<!-- /tmpl_if -->

    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/modernizr.js?v=<!-- tmpl_var VER escape=URL -->"></script>

<!-- tmpl_if include_jquery_lib-->
	<script type="text/javascript">
	   var $dm = $.noConflict(true);
	</script>
<!-- /tmpl_if -->

<!-- tmpl_if load_captcha_js -->
	<!-- tmpL_if can_use_Google_reCAPTCHA_v2 -->
	   	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
	   	<script type="text/javascript" charset="utf-8">
		 
			 // Holds the id of any recaptcha's made. This is usually only one, 
			 // but some screens have >1
			 var recaptcha_ids = []; 
			 var onloadCallback = function() {
				 var recaptchas = document.querySelectorAll('div[class=g-recaptcha]');
				 for ( i = 0; i < recaptchas.length; i++) {		
					var newly_created_widget = grecaptcha.render( 
						recaptchas[i].id, 
						{
							'sitekey' : '<!-- tmpl_var captcha_params_v2_public_key -->'
						}
					);					
				
					// Save it here, so we can reset things, later. 
					recaptcha_ids[i] = newly_created_widget; 
				
					// we'll save it the name of the id here, so we can double-check that it's 
					// been set in our client-side form validation					
					var g_recaptcha_id = document.getElementById(recaptchas[i].id);
					    g_recaptcha_id.setAttribute("data-recaptcha_id", newly_created_widget);  

				}
			}		
			function setup_recaptcha() {					
				for ( i = 0; i < recaptcha_ids.length; i++) {
						grecaptcha.reset(recaptcha_ids[i]);
				}	
			}
	   	 </script>
	<!-- /tmpl_if -->
	<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->
		<script src="https://www.google.com/recaptcha/api.js?render=<!-- tmpl_var captcha_params_v3_public_key -->"></script>
		<script>
			    grecaptcha.ready(function() { 
						setup_recaptcha() 
				}); 
			
				function setup_recaptcha() {
					grecaptcha.execute("<!-- tmpl_var captcha_params_v3_public_key -->", {
				      action: "ddm"
				    })
				    .then(function(token) {
				      document
				        .querySelectorAll(".g-recaptcha-response")
				        .forEach(elem => (elem.value = token))
				      ;
				    });
			    }
		</script>
	<!-- /tmpl_if -->
<!-- /tmpl_if -->

<!-- tmpl_if list_settings.show_archives --> 
	<!-- tmpl_if list_settings.publish_archives_rss --> 
 		<link rel="alternate" type="application/rss+xml"  title="RSS"  href="<!-- tmpl_var PROGRAM_URL -->/archive_rss/<!-- tmpl_var list_settings.list -->/" >
 		<link rel="alternate" type="application/atom+xml" title="Atom" href="<!-- tmpl_var PROGRAM_URL -->/archive_atom/<!-- tmpl_var list_settings.list -->/" >
	<!-- /tmpl_if --> 
<!-- /tmpl_if -->

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/dada_mail.css?v=<!-- tmpl_var VER escape=URL -->" type="text/css" media="screen" />

<!-- end list_template_header_code_block.tmpl --> 
